html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  display: flex;
  justify-content: center;
  background: #fff;
}

body {
  line-height: normal;
  font-family: "Toss Product Sans", sans-serif;
  overflow-x: hidden;
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  min-height: 100dvh;
  transform: translateZ(0);
}

* {
  box-sizing: border-box;
  font-family: Toss Product Sans;
}

#app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}
